


body {
    margin: 0px 0px;
}
main {
    position: relative;
    padding: 30px;
}
footer{
    background-color: rgb(232, 119, 54);
    padding: 30px 30px;
}

.general-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 30px;
}

img{
    width:150px;
    height:150px;
}

nav{
    padding: 16px;
    background-color: rgb(93, 147, 27);
}

tr:nth-child(even) {
    background: rgb(236, 201, 181);
}


.color-green {
    color: rgb(93, 147, 27);
}

h1 {
    color: rgb(232, 119, 54)
}

.color-white {
    color: white;
}
a {
    text-decoration: none;
}